<% if @substance %>
  <h3>Statutes that regulate <%= link_to(@substance.name, substance_path(@substance)) %></h3>
  <% if @as_of_date %>
    <h3>As of <%= @as_of_date.strftime('%Y-%m-%d') %></h3>
   <% end %>
<% end %>

<%= render partial: 'statute_table', locals: { statutes: @statutes, show_state: true } %>

<h2><%= link_to "Create New Statute", new_statute_path %></h2>
