<table>
   <tr>
      <th>Name</th>
      <th>AKA</th>
      <th>IUPAC</th>
      <th>Comment</th>
      <th>Classification</th>
      <th>DEA Code</th>
      <th>First Scheduled By</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>

   <%= render substances %>
</table>
