<h2><%= link_to 'Create New Substance', new_substance_path %></h2>

<table>
   <tr>
      <th>Name</th>
      <th>IUPAC</th>
      <th>AKA</th>
      <th>Classification</th>
      <th>DEA Code</th>
      <th>First Scheduled By</th>
      <th>Edit</th>
      <th>Delete</th>
   </tr>

   <%= render @substances %>
</table>

<%= will_paginate @substances %>
