<table id="main_table" border="1">
   <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Classification</td>
   </tr>

   <% @substances.each do |substance| %>
      <tr>
         <td><%= substance.id %></td>
         <td><%= substance.name %></td>
         <td><%= substance.classification %></td>
      <tr>
   <% end %>
</table>
