.expiration {
   background-color: red;
   border: 1px solid black;
}

.addition {
   background-color: #99FFCC;
   border: 1px solid black;
}

.middle {
   background-color: #FF9933;
   border: 1px solid black;
}