.alternate_names {
   float: right;
   width: 20%;
}

.basic_info {
   border: 1px solid black;
   padding-left: 10px;
   float: left;
   width: 70%;
}

.comment {
   width: 100%;
}

.quick_links {
   width: 100%
}