<h2><%= link_to 'Create New Classification', new_substance_classification_path %></h2>

<table>
   <%= render partial: 'classification_table', locals: { classifications: @classifications } %>

   <tr>
      <td></td>
      <td>Unclassified</td>
      <td><%= @unclassified_count %></td>
      <td></td>
      <td></td>
   </tr>
</table>
