<div class='basic_info'>
   <h1><%= @classification.name %> (<%= link_to 'edit', edit_substance_classification_path(@classification) %>)</h1>
</div>

<div style='margin-top: 10px;'>
   <%= render partial: 'substances/substance_table', locals: { substances: @classification.substances } %>
</div>
