<table>
   <tr>
      <th>Level</th>
   </tr>

   <% @levels.each do |k,v| %>
      <tr>
         <td><%= link_to "Schedule #{k}", { controller: 'schedule_levels', action: :show, id: v } %></td>
      <tr>
   <% end %>
</table>
